<head>
  <title>500 - Serverfehler - TIANE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <script src="{{ url_for('static', filename='jquery-3.3.1.min.js')}}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js')}}"></script>
</head>
<body>
<nav class="navbar navbar-light bg-light navbar-expand-sm">
  <a class="navbar-brand" href="/index">TIANE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="nav">
      {% for item in nav %}
          <li class="nav-item"><a class="nav-link" href="{{ item.href }}">{{ item.text }}</a></li>
      {% endfor %}
      </ul>
    </div>
</nav>

<div class="container-fluid">
<div class="row">
  <div class="col-md-12">
     <h2>500 - Interner Serverfehler</h2>
     <p>
       Bei Ihrer Anfrage ist ein interner Serverfehler aufgetreten. Eventuell
       überprüfen Sie die eingegebenen Daten oder laden die Seite neu.
     </p>
  </div>
</div>
</div>
<script src="{{ url_for('static', filename='main.js')}}"></script>
</body>
