<head>
  <title>TIANE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <script src="{{ url_for('static', filename='jquery-3.3.1.min.js')}}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js')}}"></script>
</head>
<body>
<nav class="navbar navbar-light bg-light navbar-expand-sm">
  <a class="navbar-brand" href="/index">TIANE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="nav">
      {% for item in nav %}
          <li class="nav-item"><a class="nav-link" href="{{ item.href }}">{{ item.text }}</a></li>
      {% endfor %}
      </ul>
    </div>
</nav>

<div class="container-fluid">
<div class="row justify-content-center mt-3">
  <div class="col-md-10">
    <div class="row justify-content-center">
      <div class="card-deck mb-2">
        <!-- CARD-Element-Block -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Server Status</h5>
            <h6 class="card-subtitle mb-2 text-muted">In welchem Zustand befindet sich im Moment der zentrale TIANE-Server?</h6>
            <p class="card-text">
              <h2 class="text-center"><span class="badge badge-secondary" id="StartPageServerStatus">unbekannt</span></h2>
              <div class="d-flex justify-content-between mt-1" id="timestampUptime">

              </div>
            </p>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <a class="btn btn-sm btn-success" onclick="statusServer('start')" id="serverStatusStartButton">TIANE starten</a>
            <a class="btn btn-sm btn-danger" onclick="statusServer('stop')" id="serverStatusStopButton">TIANE stoppen</a>
          </div>
        </div>
        <!-- CARD-Element-Block -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Installer Status</h5>
            <h6 class="card-subtitle mb-2 text-muted">Wird gerade etwas im Hintergrund installiert?</h6>
            <p class="card-text">
              <h2 class="text-center"><span class="badge badge-danger mt-2 " id="StartPageInstallerStatus">Nein</span></h2>
              <br />
              <pre id="StartPageInstallerLogs"></pre>
            </p>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <a href="/setup_s" class="card-link disabled">Software-Pakete installieren…</a>
          </div>
        </div>
        <!-- CARD-Element-Block -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Zusatz-Module</h5>
            <h6 class="card-subtitle mb-2 text-muted">Läuft die Telegram-Anbindung? Funktioniert die Gesichtserkennung?</h6>
            <div class="d-flex justify-content-between">
              <span class="mt-1">Telegram</span>
              <h3 class="text-center"><span class="badge badge-danger" id="">unbekannt</span></h3>
            </div>
            <div class="d-flex justify-content-between">
              <span class="mt-1">Kamerafunktion</span>
              <h3 class="text-center"><span class="badge badge-danger" id="">unbekannt</span></h3>
            </div>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <a class="card-link disabled" style="opacity: 0;">.</a>
          </div>
        </div>
      </div>
      <div class="card-deck">
        <!-- CARD-Element-Block -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title" id="mainRoomListBadge">Aktive Räume</h5>
            <h6 class="card-subtitle mb-2 text-muted">Welche Raumclients sind aktuell an der TIANE-Zentrale angemeldet?</h6>
            <p class="card-text" id="mainRoomList">
              lädt…
            </p>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <a href="/setupRoom" class="card-link disabled">zur Raum-Übersicht…</a>
          </div>
        </div>
        <!-- CARD-Element-Block -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title" id="mainUserListBadge">Registrierte Benutzer</h5>
            <h6 class="card-subtitle mb-2 text-muted">Welche Benutzer sind aktuell an der TIANE-Zentrale angemeldet?</h6>
            <p class="card-text" id="mainUserList">
              lädt…
            </p>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <a href="/setupUser" class="card-link disabled">zur Benutzer-Übersicht…</a>
          </div>
        </div>
        <!-- CARD-Element-Block -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title" id="mainModuleListBadge">Aktive Module</h5>
            <h6 class="card-subtitle mb-2 text-muted">Welche Befehle und Funktionen sind aktuell aktiviert?</h6>
            <p class="card-text" id="mainModuleList">
              lädt…
            </p>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <a href="/setupModules" class="card-link disabled">zur Modul-Übersicht…</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
<script src="{{ url_for('static', filename='main_index.js')}}"></script>
</body>
